/* styles.css */

body
{
  font-family:Sans-serif;
  min-width: 630px;
  min-height: 1300px;
  max-height:100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto; /* changed from 0px*/
  margin-right: auto; /* changed from 0px*/
  padding-left: 0;
  padding-right: 0;
  color: white;
  background-image:url("/static/mainApp/images/news.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-attachment: fixed;
  background-position: bottom bottom;}

#Wrapper {
  font-family:Sans-serif;
  min-width: 630px;
  min-height: 1300px;
  max-height:100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto; /* changed from 0px*/
  margin-right: auto; /* changed from 0px*/
  padding-left: 0;
  padding-right: 0;
  color: white;
  background-image:url("/static/mainApp/images/news.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-attachment: fixed;
  background-position: bottom bottom;}


#Article h2{
  color: grey;
  column-span: 1;
  margin-left: auto; /* changed from 0px*/
  margin-right: auto; /* changed from 0px*/
}

#Article{
  color: black;
  max-height: 400px;
  max-width: 1000px;
  height: auto;
  width: auto
  background: ;
  column-count: 2;

  padding: 5px;
  /*column-rule-style: solid;
  column-rule-width: 4px;
    column-gap: 20px;
  column-rule-color: #ff0000;*/

  margin-left: auto; /* changed from 0px*/
  margin-right: auto; /* changed from 0px*/
}

#Comments{
  color: blue;
}

#header {
   background-color:black;
   color:white;
   text-align:center;
   padding:0px;
   	  margin-right: 105px;
	    margin-left: 100px;
  background: rgb(54, 55, 25);
  background: rgba(0, 0, 0, .7);  /*red,green,blue and a is the opacity*/

   }
/*added below  */
#nav{

}
#centre {   text-align:center;}

#log{
    float: right;

}
#header ul {

    list-style-type: none;
	text-align:center;
    margin: 0px;

    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

#header li {
    float: left;
}

#header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px ;
    text-decoration: none;

}

li a:hover {
    background-color: #111;
}
/*added above*/

#menu {
  position: absolute;
  margin-left:420px;
  margin-right: 100px;
  right: 5px;
 /* margin-bottom:80px;*/
  /*padding: 20px , ;*/
  padding-right:7px;
  padding-left:7px;
   width: 229.5px;
  min-height: 1300px;
  max-height: 100%;
  background-color:grey;
 /* background: rgb(54, 55, 25);
  background: rgba(0, 0, 0, .9);  /*red,green,blue and a is the opacity*/
   background: rgb(54, 55, 25);
   background: rgba(128, 0, 32, .7);
  overflow:auto;}

#content {

  margin-left: 100px;
  margin-bottom:80px;
  padding: 20px;
  margin-right: 348px;
  min-width: 300px;
  min-height: 1260px;
  max-height: 100%;
  color:black;
  /*background: rgb(54, 55, 25);
  background: rgba(0, 0, 0, .8);  */
  background: rgb(100, 100, 100);
  background: rgba(255, 255, 255, .9);
  overflow:auto;}


#textboxid {
	height:200px;
}


a: {
	color:blue;
}

a:visited {
	color:blue;
}

a:hover { /*Changes colour when mouse hovers over a link*/

   	color: white;
}

#AE{
	margin-left: 160px;
width: 90px;
}

#clear{
	margin-left: 203px;
width: 90px;
}

#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  height:40px;
  left: 0;
  background-color:black;
  color:white;
  text-align:center;
  padding:5px; }
