{% extends "mainApp/base.html" %}
{% load staticfiles %}
{% block content %}


<!--facebook comments-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!------->

    <div style="text-align: center">
		   <h1 style = "text-align: center; color: rgba(128, 0, 32, .7);">Welcome To The News Nest</h1>
       <p style = "text-align: center; color: rgba(128, 0, 32, .7);">__________________________________________________</p> </br>

     <img src="{% static 'mainApp/images/globe.png' %}"  alt="Image not found " width="50" height="50">

     <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sollicitudin, ex a dapibus venenatis, enim enim blandit nunc, eu elementum magna est eget enim. Nullam consequat ullamcorper urna non ornare. Proin tortor elit, molestie at rhoncus sed, faucibus vitae ante. Sed dictum luctus augue, sed imperdiet lacus ornare nec. Maecenas in enim porttitor, facilisis justo at, maximus est. Donec felis tellus, commodo ut maximus at, accumsan vel augue. Aliquam vitae leo eu tellus tristique euismod vitae at ante. Sed tempor nibh vitae bibendum mattis.
     </p>

     <p>
     Dolor pretium semper fringilla. Donec nec risus et massa malesuada eleifend ac eget libero. Maecenas at interdum ipsum, nec venenatis augue. Vivamus tincidunt, dui feugiat feugiat viverra, ex mauris lobortis massa, vitae porttitor enim metus eu eros. Suspendisse vestibulum ultrices magna, non maximus dui pulvinar at. Duis maximus congue diam, ut malesuada ante consectetur quis. Nulla facilisi.
     Ut pretium semper orci, eu posuere odio laoreet vel. Morbi scelerisque lacus id arcu dapibus, non sagittis ante suscipit. Duis nisi lorem, scelerisque vitae mattis vel, mollis vel lectus. Vestibulum sed urna semper, dictum diam quis, hendrerit augue. Vivamus in vehicula nulla, vitae accumsan lectus. Quisque eget arcu ante. Aliquam erat volutpat. Praesent ultricies ullamcorper orci, vitae posuere odio suscipit in. Maecenas aliquam enim magna, eget efficitur arcu hendrerit eu. Nullam viverra placerat fringilla. Nullam eget massa vitae ligula porta semper quis nec diam. In id orci enim. Proin auctor fringilla odio quis semper. Donec euismod, nisl volutpat venenatis suscipit, magna erat euismod nisl, in lacinia elit orci sit amet turpis. Sed dolor nulla, commodo id lectus quis, tristique laoreet erat. Pellentesque in arcu eget tellus semper congue.
     </p>

   </br>   </br>   </br>

         <img src="https://ichef.bbci.co.uk/images/ic/384xn/p054cvbf.jpg" alt="Image not found" height="190" width="250">


     <p>
     Ut auctor semper fringilla. Donec nec risus et massa malesuada eleifend ac eget libero. Maecenas at interdum ipsum, nec venenatis augue. Vivamus tincidunt, dui feugiat feugiat viverra, ex mauris lobortis massa, vitae porttitor enim metus eu eros. Suspendisse vestibulum ultrices magna, non maximus dui pulvinar at. Duis maximus congue diam, ut malesuada ante consectetur quis. Nulla facilisi.
     Ut pretium semper orci, eu posuere odio laoreet vel. Morbi scelerisque lacus id arcu dapibus, non sagittis ante suscipit. Duis nisi lorem, scelerisque vitae mattis vel, mollis vel lectus. Vestibulum sed urna semper, dictum diam quis, hendrerit augue. Vivamus in vehicula nulla, vitae accumsan lectus. Quisque eget arcu ante. Aliquam erat volutpat. Praesent ultricies ullamcorper orci, vitae posuere odio suscipit in. Maecenas aliquam enim magna, eget efficitur arcu hendrerit eu. Nullam viverra placerat fringilla. Nullam eget massa vitae ligula porta semper quis nec diam. In id orci enim. Proin auctor fringilla odio quis semper. Donec euismod, nisl volutpat venenatis suscipit, magna erat euismod nisl, in lacinia elit orci sit amet turpis. Sed dolor nulla, commodo id lectus quis, tristique laoreet erat. Pellentesque in arcu eget tellus semper congue.
     </p>

     <p>
     Olim pretium semper fringilla. Donec nec risus et massa malesuada eleifend ac eget libero. Maecenas at interdum ipsum, nec venenatis augue. Vivamus tincidunt, dui feugiat feugiat viverra, ex mauris lobortis massa, vitae porttitor enim metus eu eros. Suspendisse vestibulum ultrices magna, non maximus dui pulvinar at. Duis maximus congue diam, ut malesuada ante consectetur quis. Nulla facilisi.
     Ut pretium semper orci, eu posuere odio laoreet vel. Morbi scelerisque lacus id arcu dapibus, non sagittis ante suscipit. Duis nisi lorem, scelerisque vitae mattis vel, mollis vel lectus. Vestibulum sed urna semper, dictum diam quis, hendrerit augue. Vivamus in vehicula nulla, vitae accumsan lectus. Quisque eget arcu ante. Aliquam erat volutpat. Praesent ultricies ullamcorper orci, vitae posuere odio suscipit in. Maecenas aliquam enim magna, eget efficitur arcu hendrerit eu. Nullam viverra placerat fringilla. Nullam eget massa vitae ligula porta semper quis nec diam. In id orci enim. Proin auctor fringilla odio quis semper. Donec euismod, nisl volutpat venenatis suscipit, magna erat euismod nisl, in lacinia elit orci sit amet turpis. Sed dolor nulla, commodo id lectus quis, tristique laoreet erat. Pellentesque in arcu eget tellus semper congue.
     </p>
   </br>   </br>   </br>







      <img src="https://ichef.bbci.co.uk/images/ic/384xn/p03kmrpj.jpg" alt="Image not found" height="190" width="250">


     <p>
     Duis fringilla ac tortor eget maximus. Aenean faucibus eu libero in maximus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed lorem diam, mollis ut urna fringilla, eleifend semper lacus. Nullam gravida dolor lacus, a lacinia erat lobortis eget. Morbi venenatis, urna eget dictum sodales, lectus quam interdum orci, et interdum dui nisi vel neque. Nullam ornare arcu vitae dignissim bibendum. Etiam commodo urna sit amet facilisis cursus.

     Sed fermentum efficitur ullamcorper. Morbi nec laoreet enim, euismod gravida ligula. Curabitur pretium metus dignissim, lobortis nibh eget, convallis ex. Quisque cursus, ex at gravida ultrices, elit diam iaculis felis, in condimentum arcu massa nec odio. Donec eu lorem sem. Phasellus at tortor ipsum. Nullam fermentum tellus at vulputate condimentum. Sed eu metus id turpis pretium semper ac non orci. In pellentesque sed sem a tempus. Cras non tortor finibus, ornare sem vitae, pulvinar ante.
     </p>

     <p>
     Orci auctor semper fringilla. Donec nec risus et massa malesuada eleifend ac eget libero. Maecenas at interdum ipsum, nec venenatis augue. Vivamus tincidunt, dui feugiat feugiat viverra, ex mauris lobortis massa, vitae porttitor enim metus eu eros. Suspendisse vestibulum ultrices magna, non maximus dui pulvinar at. Duis maximus congue diam, ut malesuada ante consectetur quis. Nulla facilisi.
     Ut pretium semper orci, eu posuere odio laoreet vel. Morbi scelerisque lacus id arcu dapibus, non sagittis ante suscipit. Duis nisi lorem, scelerisque vitae mattis vel, mollis vel lectus. Vestibulum sed urna semper, dictum diam quis, hendrerit augue. Vivamus in vehicula nulla, vitae accumsan lectus. Quisque eget arcu ante. Aliquam erat volutpat. Praesent ultricies ullamcorper orci, vitae posuere odio suscipit in. Maecenas aliquam enim magna, eget efficitur arcu hendrerit eu. Nullam viverra placerat fringilla. Nullam eget massa vitae ligula porta semper quis nec diam. In id orci enim. Proin auctor fringilla odio quis semper. Donec euismod, nisl volutpat venenatis suscipit, magna erat euismod nisl, in lacinia elit orci sit amet turpis. Sed dolor nulla, commodo id lectus quis, tristique laoreet erat. Pellentesque in arcu eget tellus semper congue.
     </p>
   </br>   </br>   </br>









       <img src="https://ichef.bbci.co.uk/images/ic/384xn/p030k8jn.jpg" alt="Image not found" height="190" width="250">


      <p>
      Maximus fringilla ac tortor eget maximus. Aenean faucibus eu libero in maximus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed lorem diam, mollis ut urna fringilla, eleifend semper lacus. Nullam gravida dolor lacus, a lacinia erat lobortis eget. Morbi venenatis, urna eget dictum sodales, lectus quam interdum orci, et interdum dui nisi vel neque. Nullam ornare arcu vitae dignissim bibendum. Etiam commodo urna sit amet facilisis cursus.

      Sed fermentum efficitur ullamcorper. Morbi nec laoreet enim, euismod gravida ligula. Curabitur pretium metus dignissim, lobortis nibh eget, convallis ex. Quisque cursus, ex at gravida ultrices, elit diam iaculis felis, in condimentum arcu massa nec odio. Donec eu lorem sem. Phasellus at tortor ipsum. Nullam fermentum tellus at vulputate condimentum. Sed eu metus id turpis pretium semper ac non orci. In pellentesque sed sem a tempus. Cras non tortor finibus, ornare sem vitae, pulvinar ante.
      </p>
      <p>
      Olim pretium semper fringilla. Donec nec risus et massa malesuada eleifend ac eget libero. Maecenas at interdum ipsum, nec venenatis augue. Vivamus tincidunt, dui feugiat feugiat viverra, ex mauris lobortis massa, vitae porttitor enim metus eu eros. Suspendisse vestibulum ultrices magna, non maximus dui pulvinar at. Duis maximus congue diam, ut malesuada ante consectetur quis. Nulla facilisi.
      Ut pretium semper orci, eu posuere odio laoreet vel. Morbi scelerisque lacus id arcu dapibus, non sagittis ante suscipit. Duis nisi lorem, scelerisque vitae mattis vel, mollis vel lectus. Vestibulum sed urna semper, dictum diam quis, hendrerit augue. Vivamus in vehicula nulla, vitae accumsan lectus. Quisque eget arcu ante. Aliquam erat volutpat. Praesent ultricies ullamcorper orci, vitae posuere odio suscipit in. Maecenas aliquam enim magna, eget efficitur arcu hendrerit eu. Nullam viverra placerat fringilla. Nullam eget massa vitae ligula porta semper quis nec diam. In id orci enim. Proin auctor fringilla odio quis semper. Donec euismod, nisl volutpat venenatis suscipit, magna erat euismod nisl, in lacinia elit orci sit amet turpis. Sed dolor nulla, commodo id lectus quis, tristique laoreet erat. Pellentesque in arcu eget tellus semper congue.
      </p>

    </br>   </br>   </br>
 <!---facebook-->
    <div class="fb-comment-embed" data-href="https://www.www.TheNewsNest1997.com" data-width="200" data-include-parent="true"></div>
    <div class="fb-comment-embed" data-href="https://www.www.TheNewsNest1997.com" data-width="560" data-include-parent="true"></div>
    <div class="fb-like" data-href="https://www.TheNewsNest1997.com" data-width="30" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </div>
{% endblock %}
