{% extends "mainApp/base.html" %}
{% load staticfiles %}
{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="{% static 'mainApp/addCommentSpo.js' %}"></script>


   <h1 style = "text-align: center; color: rgba(128, 0, 32, .7);">Sports </h1>
 <p style = "text-align: center; color: rgba(128, 0, 32, .7);">__________________________________________________</p> </br>

  <div id="Article">
     <div style="text-align: center">
       		 <h2> Neymar So Far </h2>
           <img src="http://i.dailymail.co.uk/i/pix/2017/09/22/14/446916C400000578-0-image-a-2_1506086823468.jpg" alt="Image not found" height="300" width="290">

      <p>
        Neymar wears the number 10 shirt for PSG and is the world's most expensive footballer in history. His teammates include the likes of Edison Cavani, Kylian Mbappe, Thiago Silva, Julian Draxler and so on.
        Additionally, he has scored seven goals this season and is the top scorer in Ligue 1 so far in his debut season for PSG.
      </p>
      <p>
        It was contentious for the 25 year old, as he was through on goal until the trip by the opposing defender, who seemed to grin after making the challenge. Upon review, the latter was given a 5 match suspension for the reckless challenge made on this year's ballon d'or nominee named along with Ronaldo and Messi.
      </br> </br>

      <!---Sports article with picture displayed, 2 columns-->


   <!--comments and stuff-->
            		</br> </br>
    <div id="Comments">
   {% if comments %}
   <span style="font-weight: bold;" >Comments </span><br>
   {% for comment in comments %}
      {% if comment.article.header == "spo1" %}
        {{comment.user.firstName}} : {{ comment.text }}
            {% if comment.user.email == username %}
        [<a href='/sports/?erase={{comment.id}}'>Erase</a>]
            {% endif %}
        <br>
      {% endif %}
   {% endfor %}
  {% endif %}
  </div>
  <p>
  {% if loggedin %}
    <form id = "addComment" method='POST' >
       {% csrf_token %}
       Add a comment:
       <br>
       <textarea id='comment' cols='60' rows='3'></textarea>
       <input type='hidden' id='article' value = "spo1">
       <br>
       <input type='submit' value='Post Message'>
    </form>
  {% endif %}
  {% for article in articles %}
    {% if article.header == "spo1" %}
      [<a href='/sports/?like={{article.header}},{{username}}'>{{article.likes}} Like</a>]
    {% endif %}
  {% endfor %}
  </div>
</div>


</br></br><p style = "text-align: center; color: rgba(128, 0, 32, .7);">__________________________________________________</p> </br>


  <div id="Article">
     <div style="text-align: center">

    <h2> Isco Rising At Madrid </h2>
    <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/05/10/21/real-madrid.jpg" alt="Image not found" height="300" width="290" align="middle">


    <p>
        The 25 year old was in scintilating form tonight, as he secured a win for a Real Madrid in the 94th minute of the match.
    </p>
    <p>
      The Real Madrid playmaker showed once again why Real Madrid made the decision to sign him from Malaga, as he dribbled past half the team and set up his own goal for the winning goal. His solo run was something worthy of being associated with Lionel Messi, proving that he is a ballon d'or winner in the making. This is not the first time he has shown his tenacity and creativity as he has shown throughout this season, he is a very dangerous player to play against and defenders should be afraid to see him on the pitch.
    </p>
            <div id="Comments">
   {% if comments %}
   <span style="font-weight: bold;" >Comments </span><br>
   {% for comment in comments %}
      {% if comment.article.header == "spo2" %}
        {{comment.user.firstName}} : {{ comment.text }}
            {% if comment.user.email == username %}
        [<a href='/sports/?erase={{comment.id}}'>Erase</a>]
            {% endif %}
        <br>
      {% endif %}
   {% endfor %}
  {% endif %}
  </div>
  <p>
  {% if loggedin %}
    <form id = "addComment2" method='POST' >
       {% csrf_token %}
       Add a comment:
       <br>
       <textarea id='comment2' cols='60' rows='3'></textarea>
       <input type='hidden' id='article2' value = "spo2">
       <br>
       <input type='submit' value='Post Message'>
    </form>
  {% endif %}
  {% for article in articles %}
    {% if article.header == "spo2" %}
      [<a href='/sports/?like={{article.header}},{{username}}'>{{article.likes}} Like</a>]
    {% endif %}
  {% endfor %}
    </br> </br>
  </div>
</div>


</br><p style = "text-align: center; color: rgba(128, 0, 32, .7);">__________________________________________________</p> </br>


  <div id="Article">
     <div style="text-align: center">


         <h2> Zlatan Recovering Like A "Lion" </h2>
         <img src="https://static.independent.co.uk/s3fs-public/styles/article_small/public/thumbnails/image/2017/11/18/20/zlatan-ibra.jpg" alt="Image not found" height="300" width="290" align="middle">

             <p>
                 Zlatan Ibrahimovic claims to be a "lion" after recovering from his injury sooner than expected at the age of 36.
             </p>
             <p>
               After getting injured in April during the Europa League against Anderlecht, the Swedish striker injured his ACL, initially ruling him out until the start of 2018.The striker claims he doesn't recover as a human, but instead as a lion showing his desire to recover as soon as possible.
             </p>
             </br> </br>


    <div id="Comments">
   {% if comments %}
   <span style="font-weight: bold;" >Comments </span><br>
   {% for comment in comments %}
      {% if comment.article.header == "spo3" %}
        {{comment.user.firstName}} : {{ comment.text }}
            {% if comment.user.email == username %}
        [<a href='/sports/?erase={{comment.id}}'>Erase</a>]
            {% endif %}
        <br>
      {% endif %}
   {% endfor %}
  {% endif %}
  </div>
  <p>
  {% if loggedin %}
    <form id = "addComment3" method='POST' >
       {% csrf_token %}
       Add a comment:
       <br>
       <textarea id='comment3' cols='60' rows='3'></textarea>
       <input type='hidden' id='article3' value = "spo3">
       <br>
       <input type='submit' value='Post Message'>
    </form>
  {% endif %}
  {% for article in articles %}
    {% if article.header == "spo3" %}
      [<a href='/sports/?like={{article.header}},{{username}}'>{{article.likes}} Like</a>]
    {% endif %}
  {% endfor %}

</div>
</div>

{% endblock %}
