{% extends "mainApp/base.html" %}

{% load staticfiles %}

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="{% static 'mainApp/sign.js' %}"></script>

<div class='main'>
   <h3>Pumpy <span style="color:red"> :) </span>Sign in</h3>
   <form id="signinForm" method='POST' action="/login/" >
   	{% csrf_token %}
      <span class='fieldname'>Email</span>
      <input type='text' maxlength='254' id='logusername'name='username'>
      <span id='info'></span>
         <br>
      <span class='fieldname'>Password</span>
      <input type='password' maxlength='16' id='password' name ='password'>
      <span id='info'></span>
         <p>
      <!--<span class='fieldname'>Price</span>
      <input type="number" min = "0" name='price' ></input>
      <span class='fieldname'></span>
        -->
      <input id="signin" type='submit' value='Sign in'>
   </form>
</div>
{% endblock %}